body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #aaa;
    font-size: 62.5%;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 0;
}

h3 {
    font-size: 2rem;
}

.new-task-input {
    height: 50px;
    width: 300px;
    padding: 5px;
    font-size: 1.5rem;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.list-item {
    font-size: 1.5rem;
    width: 100%;
    height: 60px;
    position: relative;
    padding: 10px;
    vertical-align: middle;
    padding: 20px 0px 0px 20px;
}

.list-item span {
    width: 600px;
    position: absolute;
    left: 50px;
}

.list-item:hover {
    background-color: rgb(240, 240, 240);
    transition: 0.2s;
}

.button {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    float: right;
    font-size: 1rem;
    transition: 0.2s;
}

.new-button {
    background-color: rgb(131, 185, 131);
}

.new-button:hover {
    background-color: rgb(85, 121, 85);
}

.complete-button {
    background-color: rgb(245, 169, 83);
}

.complete-button:hover {
    background-color: rgb(175, 121, 59);
}

.delete-button {
    background-color: rgb(250, 101, 101);
}

.delete-button:hover {
    background-color: rgb(180, 72, 72);
}